@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

body {
  scroll-behavior: smooth;
  font-family: 'Baloo 2', 'Helvetica Neue', 'Helvetica', sans-serif;
}

footer a {
  text-decoration: underline;
}

.unstyled-link {
  text-decoration: none;
  transition: 0.2s ease;
}

.unstyled-link:hover {
  color: black !important;
}

.unstyled-link.overlaid-header:hover {
  color: #577832 !important;
}
